#ignore helpers
test.do
formal_tests.do
log_program.ado
get_data.do

#ignore logs
logs/*/*

# ignore data
*.dta 
*.csv 
!example/example.csv

test.do


# ignore package info 
esplot.pkg 
stata.toc
.vscode/settings.json
