#ignore helpers
test.do
formal_tests.do
log_program.ado
get_data.do

#ignore logs
logs/*/*
tests/*

# ignore data
*.dta 
*.csv 
!example/example.csv

test.do


# ignore package info 
esplot.pkg 
stata.toc
example/debug_esplot.log

# ignore additional program/OS settings
.DS_Store
.vscode/settings.json

