#ignore helpers
log_program.ado
get_data.do

#ignore logs
logs/*/*

# ignore data
*.dta 
*.csv 
!example/example.csv

# ignore saved estimates
**/*.ster



# ignore package info 
esplot.pkg 
stata.toc
example/debug_esplot.log
formal_tests.log

# ignore additional program/OS settings
.DS_Store
.vscode/settings.json

# ignore tests
test.do
formal_tests.do
formal_tests.log
tests/*
